*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
head{
  width: 100%;
  height: 100%;
  background-color: blue;
}
header{
  width:100%;
  height: 100%
  background-color: red;
}

,columnas{
  columns: 3;
}
.menu{
  text-align:right;
  position:static right;
}
.triplecols {
  column-fill: auto;
    text-align: justify;
  text-rendering: geometricPrecision;
}
.tripleblocks tripleleftblock{
  columns: 3;
}
.caption{
  column-fill: balance;
}


#wrapper {
  max-width:inherit;
 margin-left:inherit;
 margin-right: inherit;
 border: 6px solid blue;
}
